*{
    margin : 0;
    padding : 0;
    box-sizing : border-box;
}

html,body{
    width : 100%;
    height : 100%;
}

#main{
    position: relative; /* is sai alag alag elements aur pages overlap nhi kareygey */
    overflow: hidden; /* hides irrelevant stuff that is poping out of the main element and hides scroll bar stuff */
}